.strength-wrapper {
  background-color: var(--color-dark-900);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-body-medium);

  > span {
    color: var(--color-gray-900);
  }

  .strength {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 36px;

    .level {
      font-size: var(--text-heading-medium);
    }

    .level-indicator {
      display: flex;
      gap: 8px;

      span {
        width: 10px;
        height: 28px;
      }

      .white {
        border: 2px solid var(--color-white);
      }

      .red {
        background-color: var(--color-red);
      }

      .orange {
        background-color: var(--color-orange);
      }

      .yellow {
        background-color: var(--color-yellow);
      }

      .green {
        background-color: var(--color-green);
      }
    }
  }
}
