.condition-item {
  display: flex;
  align-items: center;
  gap: 16px;

  .checkbox-root {
    --line: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--line);
    height: var(--line);
    border: 2px solid var(--color-gray-100);
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:hover {
      border-color: var(--color-green);
    }

    .checkbox-indicator {
      width: var(--line);
      height: var(--line);
      background-color: var(--color-green);
      color: var(--color-dark-900);
    }
  }

  .label {
    font-size: var(--text-body-medium);
    cursor: pointer;
  }
}
