#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main {
  width: min(540px, 90vw);
}

.title {
  font-size: var(--text-heading-medium);
  text-align: center;
  margin-block-end: 24px;
  color: var(--color-gray-900);
}

.result {
  padding: 16px;
  padding-inline-start: 20px;
  background-color: var(--color-dark-700);
  border-radius: 6px;
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password {
  font-size: var(--text-heading-large);
  color: var(--color-gray-100);
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password.active {
  color: var(--color-white);
}

.generator-wrapper {
  margin-block-start: 20px;
  padding: 16px;
  padding-inline-start: 20px;
  background-color: var(--color-dark-700);
  font-size: var(--text-body-medium);
  color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.length-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.length {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.length > span:nth-child(2) {
  font-size: var(--text-heading-large);
  color: var(--color-green);
}

.length-input {
  display: flex;
  align-items: center;
}

.length-input > input {
  width: 100%;
}

.conditions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.generate {
  width: 100%;
  background-color: var(--color-green);
  padding: 0;
  border: 1px solid var(--color-green);
  color: var(--color-dark-700);
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.generate:hover {
  background-color: transparent;
  color: var(--color-green);
}
