:root {
  font-family: 'JetBrains Mono', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: hsl(0, 100%, 100%);
  --color-dark-900: hsl(248, 15%, 11%);
  --color-dark-700: hsl(248, 10%, 15%);
  --color-gray-900: hsl(252, 10%, 50%);
  --color-gray-500: hsl(252, 10%, 70%);
  --color-gray-100: hsl(252, 10%, 90%);
  --color-red: hsl(0, 91%, 63%);
  --color-orange: hsl(13, 95%, 66%);
  --color-yellow: hsl(42, 91%, 68%);
  --color-green: hsl(127, 100%, 82%);

  --text-heading-large: calc(32 / 16 * 1rem);
  --text-heading-medium: calc(24 / 16 * 1rem);
  --text-body-medium: calc(18 / 16 * 1rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--color-dark-900);
}
