.slider-root {
  width: 100%;
  height: 8px;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;

  .slider-track {
    background-color: var(--color-dark-900);
    position: relative;
    flex: 1;
    height: 8px;

    .slider-range {
      position: absolute;
      background-color: var(--color-green);
      height: 100%;
    }
  }

  .slider-thumb {
    display: block;
    width: 28px;
    height: 28px;
    background-color: var(--color-gray-100);
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: var(--color-dark-700);
      border: 3px solid var(--color-green);
    }

    &:focus {
      outline: none;
    }
  }
}



